/*.XXXX { --> für class*/
/*#XXXX { --> for id*/
/*XXXX { --> für all elements of that kind*/

body {
	background: #f9edc2;
	min-height:800px;

	}

header {
	max-width: 1024px;
	background: #161511;
	padding:20px;
	padding-left:20%;
	padding-right:20%;
	height: 60px;
	margin:-10px;
}

.logobackground {
    overflow: hidden;	
	color: white;
}

.inhalt {
	padding:80px;
	padding-left:20%;
	padding-right:20%;

	
}

footer {
	width:100%;
	max-width: 1024px;
	background: #161511;
	padding:20px;
	padding-left:20%;
	padding-right:20%;
	height: 30px;
	margin:-10px;
	position:absolute;
	bottom:0;
	
	color: white;
}


	