/*.XXXX { --> für class*/
/*#XXXX { --> for id*/
/*XXXX { --> für all elements of that kind*/

body {
	background: #f9edc2;

	}

header {
	width:100%;
	background: #161511;
	padding:20px;
	padding-left:20%;
	padding-right:20%;
	height: 60px;
	margin:-10px;
}

main {
	padding-left:20%;
	padding-right:20%;
	text-align: center;	
}

footer {
	width:100%;
	background: #161511;
	padding:20px;
	padding-left:20%;
	padding-right:20%;
	height: 30px;
	margin:-10px;
	color: white;
}


.logoarea {
	color: white;
}

.suche {
	padding-top:30px;
	padding-bottom:20px;
}
#suche {
	width:600px;
	height:30px;
}

#suchknopf {
	height:35px;
}


	