/*.XXXX { --> für class*/
/*#XXXX { --> for id*/
/*XXXX { --> für all elements of that kind*/

body {
	background: url(world.png) no-repeat center #f9edc2;
	background-attachment:fixed;
	padding-bottom:50px;
}


header {
	overflow: hidden;
	background:#161511;
	padding: 5px 5px;
	margin:-10px;

}

header a {
	float: left;
	color: white;
	text-align: center;
	padding-left: 20%;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

main {
	padding-top:50px;
	padding-bottom:20px;
	margin-left:10%;
	margin-right:10%;
	text-align: center;
}

footer {
	position: fixed;
	width:100%;
	background: #161511;
	padding:20px;
	padding-left:20%;
	padding-right:20%;
	height: 30px;
	margin:-10px;
	color: white;
	left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#suche {
	width:40%;
	min-width: 200px;
	height:40px;
	margin: 2px;
}

.button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2px;
}

.button:hover {
	background-color: #2e6b30; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2px;
}

#content {
	margin-top: 70px;
}

#json {
	text-align:left;
	margin:5px;
	padding:5px;
	background-color:rgba(255, 255, 255, 0.9);
}

#extendedSearch {
	display: none;
	text-align: center;
	width: 70%;
	margin:5px;
	padding:5px;
	background-color:rgba(255, 255, 255, 0.9);
}

#extSearchInput {
	width:20%;
	min-width: 80px;
	height:40px;
	margin: 2px;
}

label {
	display: inline-block;
	text-align: right;
	width: 140px;
}

.name {
	border-top-style: dotted;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	letter-spacing: 0.3em;
	font-size: 36px;
	font-weight: bold;
	margin: 5px;
}

.coordinates {
}

.status {
}

.condition {
}

.hiddenAt {
}

.waypoint {
}

.cacheType {
}

.caseType {
}

.link {
}

.description {
}

.logs {
}
